body, html {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

.card {
  width: 30%;
  height: 40rem;
  margin: 5rem 5rem;
  border: 2px solid black;
  min-width: 400px;
  min-height: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 5px grey;
}
.container {
   
    width: 90vw;
     
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px auto;
}